
a{
    display: block;
    // vertical-align: middle;
    text-decoration: none;
}

ul, li {
    list-style: none;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.container{
        margin: 0 auto;
        max-width: 960px;
        padding: 10px 0px;
    & .info{
        width: 373px;
        padding: 10px 10px;
        border: 1px solid gray;
        border-radius: 10px;
        margin-bottom: 42px;
    }
    .sp{
    border: 1px solid gray;
    margin-bottom: 42px;
    border-radius: 10px;
        img {
            max-width: 300px;
            height: auto;
            border-radius: 10px;
        }
    }
}